:root {
    --primary-color: #007bff; /* Plava (možeš promijeniti po želji) */
    --secondary-color: #6c757d; /* Siva */
    --background-color: #f8f9fa; /* Svijetlosiva pozadina */
    --text-color: #212529; /* Tamnosiva boja teksta */
    --footer-bg: #434547; /* Tamna boja footera */
    --footer-text: #ffffff; /* Bijeli tekst u footeru */
}

/* Primjena varijabli */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #61616162;
}

.navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    color: var(--footer-text);
    z-index: 22;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(197, 197, 197);
    border-bottom: 1px solid rgb(197, 197, 197);
    a {
        color: black;
        transition: color 0.3s;
        font-weight: 700;
    }
    a:hover {
        color: rgb(77, 77, 77);
    }
    .bojkot-logo {
        width: 70px;
    }
}
.footer {
    margin-top: 0px !important;
    padding-top: 0px !important;
    height: 10dvh;
    background-color: #181c1f;
    color: var(--footer-text);
    border-top: 1px solid rgba(187, 187, 187, 0.288);
    a {
        color: var(--primary-color);
        transition: color 0.3s;
    }
    a:hover {
        color: var(--secondary-color);
    }
}

.main-content-section {
    position: relative;
    background-color: #bbbbbb65;
    padding: 10px 0px;
    .main-content-container {
        box-shadow: 2px 2px 2px rgb(207, 207, 207);
        padding: 50px 20px;
        background-color: #fff;
        border: none;
        border-radius: 5px;
        .left-container {
            width: 49%;
            height: 500px;
            padding: 20px;
            position: relative;
            .mySwiper {
                border: none;
                border-radius: 10px;
                .swiper-wrapper {
                    border: none;
                    border-radius: 10px;
                }
            }
            .swiper {
                width: 90%;
                position: absolute;
                margin-left: 0px;
                margin-top: 0px;
                padding: 0px;
                box-shadow: none !important;
                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                    box-shadow: none !important;
                    img {
                        display: block;
                        width: 100%;
                    }
                    h1 {
                        position: absolute;
                        top: 85%;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 80%;
                        text-align: center;
                        color: rgb(255, 255, 255);
                        text-shadow: 2px 2px 2px rgb(0, 0, 0);
                    }
                }
                .swiper-pagination-bullet {
                    background-color: rgb(172, 172, 172) !important; /* Crne tačke */
                    opacity: 1; /* Da budu vidljive */
                }
                
                .swiper-pagination-bullet-active {
                    background-color: black !important; /* Aktivna tačka je također crna */
                }
            }
        
        
        }
        .right-container {
            height: 550px;
            width: 49%;
            .top-long-container {
                margin-top: 50px;
                height: 240px;
                width: 100%;
                position: relative;
                background-color: #40798C;
                border: none;
                border-radius: 10px;
                color: white;
                transition: 0.4s background-color ease;
                cursor: pointer;
                z-index: 2;
                img {
                    position: absolute;
                    left: 15%;
                    /* top: 50%; */
                    transform: translateX(-50%);
                    filter: brightness(90%);
                    height: 300px;
                    transition: 0.4s height ease;
                }
                h1 {
                    font-size: 28px;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-weight: 900;
                }
            }
            .top-long-container:hover {
                background-color: #38A3A5;
                color: black;
                img {
                    height: 320px;
                }
            }
            .bottom-double-container {
                width: 100%;
                .bottom-left {
                    height: 240px;
                    width: 48%;
                    background-color: #40798C;
                    border: none;
                    border-radius: 10px;
                    color: white;
                    z-index: 2;
                    font-size: 22px;
                    font-weight: 700;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    transition: 0.4s background-color ease;
                    cursor: pointer;
                }
                .bottom-right {
                    height: 240px;
                    width: 48%;
                    background-color: #40798C;
                    border: none;
                    border-radius: 10px;
                    color: white;
                    font-size: 22px;
                    font-weight: 700;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    transition: 0.4s background-color ease;
                    cursor: pointer;
                    z-index: 2;
                }
                .bottom-left:hover, .bottom-right:hover {
                    background-color: #38A3A5;
                    color: black;
                }
            }
        }
    }
}
.popular-section {
    background-color: #bbbbbb65;
    padding: 10px 0px;
}
.popular-section-container {
    padding: 10px 0px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    .lista-srama-header {
        padding: 0px 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 900;
        font-size: 32px;
        color: rgb(66, 66, 66);
        z-index: 11;
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
    }
    .popular-container {
        padding: 0px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        align-items: center;
        gap: 20px;
        .card {
            border: 1px solid rgba(175, 175, 175, 0.295);
            border-radius: 10px;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s ease all;
            cursor: pointer;
        }
        .card:hover {
            box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.767);
        }
    }
}

.section-banner {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        background-color: #181c1f;
    }
}


.popular-section-container2 {
    background-color: #181c1f;
    padding: 50px 0px;
    .lightbox {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        img {
            max-width: 90%;
            max-height: 80%;
            border-radius: 10px;
        }
        .close {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 30px;
            color: white;
            cursor: pointer;
        }
    }
    h1 {
        color: #fff;
        font-size: 32px;
        font-weight: 900;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .lista-srama-header {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .imagesSwiper {
        width: 100%;
        height: max-content;
        padding-top: 50px;
        padding-bottom: 50px;
        max-height: 800px;
        .swiper-slide {
            background-position: center;
            background-size: cover;
            height: auto;
        }
        .swiper-slide img {
            display: block;
            width: 100%;
        }
        .swiper-pagination-bullet {
            background-color: rgb(172, 172, 172) !important; /* Crne tačke */
            opacity: 1; /* Da budu vidljive */
        }
        
        .swiper-pagination-bullet-active {
            background-color: black !important; /* Aktivna tačka je također crna */
        }
    }
}